# Database Configuration
DATABASE_URL=postgresql://postgres.fnklgcezesjwthhvkzzf:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres

# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key

# Server Configuration
PORT=4000
NODE_ENV=development

# gRPC Configuration
USER_SERVICE_PORT=50051
MATCH_SERVICE_PORT=50052
NOTIFICATION_SERVICE_PORT=50053
