version: '3.8'

services:
  # 1. POSTGRESQL
  postgres:
    image: postgres:15-alpine
    container_name: chat_postgres
    environment:
      POSTGRES_DB: chat_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infrastructure/seed/seed.sql:/docker-entrypoint-initdb.d/seed.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    container_name: chat_rabbitmq
    environment:
     RABBITMQ_URL: "amqp://guest:guest@queue-chat:5672"
    ports:
      - "5672:5672"    
      - "15672:15672"  
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  app:
    build: .
    container_name: chat_app
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      NODE_ENV: development
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: chat_db
      DB_USER: postgres
      DB_PASSWORD: postgres123
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672  
    ports:
      - "3000:3000"   
      - "8080:8080"    
    volumes:
      - ./src:/app/src
      - ./dist:/app/dist
    command: npm run dev 

volumes:
  postgres_data: